html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#3f51fb,#41d6ff);
    font-family: grenadine-mvb, sans-serif;
    font-style: normal;
    font-weight: 300;
}

#greetings-text {
    color: #ffffff;
    text-shadow: 1px 2px #000;
    text-align: center;
    margin: auto;
    font-size: 14px;
    margin: 20px 0px 10px 0px;
}

header {
    padding: 5px;
    font-size: 2vw;
    text-align: center;
    background: #ffc93c;
    border-radius: 5px;
    width: 70%;
    height: 85%;
    margin: auto;
    box-shadow: 5px 5px 10px #47362b35;
}

#form {
    padding-top: 30px;
}

#button {
    width: 250px;
    margin-top: 20px;
}

section {
    font-size: 16px;
    text-align: center;
    background: #ff9a3c;
    border-radius: 5px;
    width: 70%;
    height: 175px;
    margin: auto;
    box-shadow: 5px 5px 10px #47362b35;
}

form {
    margin-top: 15px;  
}

#result {
    font-size: 24px;
    margin-top: 25px;
}

#footer_text {
    padding-top: 15px;
}

footer {
    font-size: 12px;
    background: #ffc93c;
    border-radius: 5px;
    width: 70%;
    height: 100px;
    margin: auto;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 5px 10px #47362b35;
}

