html {
    min-height: 100%;
}

.body {
    font-family: grenadine-mvb, sans-serif;
    font-style: normal;
    font-weight: 300;
}

#greetings-text {
    color: #ffffff;
    text-shadow: 1px 2px #000;
    text-align: center;
    margin: auto;
    font-size: 14px;
    margin: 20px 0px 10px 0px;
}

.container {
    height: fit-content;
    text-align: center;
    box-shadow: 5px 5px 10px #47362b35;
    margin: auto;
    width: 75%;
    max-width: 600px;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    color: #7e98fe;
    background: #ffc93c;
    min-height: 150px;
}

#form {
    padding-top: 30px;
}

#button {
    width: 250px;
    margin-top: 20px;
}

section {
    font-size: 16px;
    background: #ff9a3c;
    min-height: 200px;
}

form {
    margin-top: 15px;  
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    height: 50px;
    font-size: 24px;
    color: antiquewhite;
    margin-top: 25px;
}

.footer_text {
    padding: 5px;
    line-height: 2;
}

footer {
    font-size: 12px;
    background: #ffc93c;
    font-style: italic;
}

